# Django core
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database (hozircha SQLite, keyinchalik PostgreSQL uchun)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=spotify
# DB_USER=postgres
# DB_PASSWORD=
# DB_HOST=127.0.0.1
# DB_PORT=5432
